doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Community
        link( rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            h1=pageTitle

            nav 
                ul 
                    li
                        a(href="/") 홈
                    li
                        a(href="/postings/upload") 업로드
                    li
                        a(href="/search") 검색
                    if loggedIn 
                        li
                            a(href="/logout") 로그아웃
                        li
                            a(href=`/users/${user._id}`) #{`${user.username}님의 프로필`} 
                    else
                        li
                            a(href="/join") 가입
                        li
                            a(href="/login") 로그인
        main
            block content
