extends ../base

block content 
    form(method="POST") 
        input(type="password", required, name="oldPassword", placeholder="현재 비밀번호")
        input(type="password", required, name="newPassword", placeholder="새로운 비밀번호")
        input(type="password", required, name="passwordConfirm", placeholder="새로운 비밀번호 확인")
        input(type="submit", value="Change Password")